/*	RESET DOS ITENS	*/
* {
  margin: 0;
  padding: 0;
}

html {
	height: 100%;
}

body {
	overflow-x: hidden;
	color: #ffffff;
	height: 100%;
	background-color: #252525;
}
/*	BARRA DE NAVEGAÇÃO	*/
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 9.2%;
	padding: 0px;
	z-index: 10;
}

.navbar a {
	color: #ffffff;
	text-decoration: none;
}

.logo {
	float: left;
	width: 50px;
	height: 50px;
	padding-left: 2.6%;
	padding-top: 1.3%;
}

.nome {
	padding-left: 1%;
	padding-top: 1.6%;
	float: left;
}

.menu {
	padding-top: 1.6%;
	float: right;
	word-spacing: 70px;
	padding-right: 3.6%;
}

/*	EFEITO PARALLAX NO BACKGROUND	*/
.parallax {
 	height: 100%;
 	background-attachment: fixed;
 	background-position: top;
 	background-repeat: no-repeat;
 	background-size: cover;
}

.back1 {
	background-image: url("_images/background.jpg");
}

.back2 {
	background-image: url("_images/background2.png");
}

.back3 {
	background-image: url("_images/background3.png");
}

/*	HOME	*/
#home {
	height: 100%;
}

.home-title {
	position: absolute;
	top: 32%;
	left: 7.8%;
}

.home-title h1 {
	margin: 0px;
}

/*	ABOUT */
#about{
	height: 100%;
}

.conhecimento {
	text-align: center;
	position: relative;
	top: 35%;
	width: 100%;
	height: 400px;
}

.skill {
	float: left;
	width: 50%;
}

.software {
	float: right;
	width: 50%;
}
/*	PROJECTS	*/
#projects{
	height: 150%;
}

.box {
	position: relative;
	top: 20%;
	left: 25%;
	width: 50%;
	height: 60%;
}

.item {
	width: 50%;
	height: 50%;
	background-position: top;
 	background-repeat: no-repeat;
 	background-size: cover;
}

.esquerda {
	float: right;
}

.overlay {
	height: 100%;
  	width: 100%;
	opacity: 0;
	transition: .5s ease;
  	background-color: #000000;
  	text-align: center;
}

.overlay:hover {
	opacity: 0.5;
}

.centralizado {
	text-align: center;
	position: relative;
	top: 50%;
	color: #ffffff;
	text-decoration: none;
}

.foto1 {
	background-image: url("_images/item1.webp");
}

.foto2 {
	background-image: url("_images/item2.webp");
}

.foto3 {
	background-image: url("_images/item2.webp");
}

.foto4 {
	background-image: url("_images/item2.webp");
}

/*	CONTACT*/
#contact{
	height: 100%;
}

.linha {
	position: relative;
	top: 20%;
	left: 25%;
	border-bottom: 1px solid #ffffff;
	width: 50%;
}

.info {
	position: relative;
	top: 29%;
	padding-left: 25%;
	padding-right: 25%;
}

.info a{
	text-decoration: none;
	color: #ffffff;
}

.footer {
	position: relative;
	bottom: 5%;
	text-align: center;
}

/*	PADRÃO DAS SEÇÕES	*/
.head {
	letter-spacing: 5px;
	text-align: center;
	position: relative;
	top: 11%;
}

.titulo {
	text-align: center;
	position: relative;
	top: 16%;
}

.text{
	position: relative;
	top: 28%;
	padding-right: 12%;
	padding-left: 12%;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.muli {
	font-family: 'Muli', sans-serif;
}

.roxo {
	color: #7f00ff;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

.black {
	font-weight: 900;
}

.trinta {
	font-size: 30px;
}

.sessenta {
	font-size: 60px;
}

.cem {
	font-size: 100px;
}

.blinking-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: #ffffff;
  }
}
